#title_instructions, #title-specs {
    color: #d0021b;
}

.step {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: 
    "instructions" "image";
    line-height: normal;
    /* height: auto; */
    box-sizing: border-box;

}

.step-instructions {
    grid-area: "instructions";
    background-color: white;
    margin-right: 10px;
    padding-top: 20px;    
    padding-bottom: 20px;
}

.step-image {
    grid-area: "image";
    background-color: #333;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.note {
    background-color: black;
    color: yellow;
    padding: 1px;
    margin-right: 4px;
}

.divider {
    border: 1px solid #333;
}


#optional {
    font-weight: lighter;
}

#img-mapping {
    width: 49vw;
}

.before-after {
    font-weight: bolder;
    padding-top: auto;
}