.app {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: 
 "instructions"
 "downloads";
  height: auto;  
  width: 100vw;
  margin-bottom: 100vh;
}

.sidebar {
  background-color: lightgrey;
  text-align: center;
  position: fixed;
  height: 100vh;
  width: 15vw;
}

.instructions {
  grid-area: "instructions";
  background-color: white;
  padding-left: 30px;
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 15px; 
  margin-left: 15vw;
}

.downloads {
  grid-area: "downloads";
}